
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Star Wars Searcher!</title>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link
      type="text/css"
      rel="stylesheet"
      href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"
    />
	<style>
		/* .myheader grabbed from Bootstrap's jumbotron example - https://getbootstrap.com/docs/4.0/examples/jumbotron/ */
		.myheader{
			background-color: #e9ecef;
			padding: 4rem 2rem;
			margin-bottom:2rem;
		}
		
		input.form-control{
			display: inline-block;
			width: 20rem;
			margin-right:1rem;
		}
		.search-row{
			margin-bottom:1rem;
		}
	</style>
</head>
<body>
<div id="app">
	<div class="myheader">
		<h1 class="display-5">{{title}}</h1>
		<p class="lead text-muted">Set the category next to the text field, type the name of the character/creature/object you want to look up, and then hit search to get some information on that character! (Entering no text will return a random result from the specified category)</p>
	</div>			
	
	<div class="container">
		<div class="row search-row">
			<div class="col-md-12">
                <select v-model="resourceType">
                  <option disabled value="">Please select one</option>
                  <option>films</option>
                  <option>people</option>
                  <option>planets</option>
                  <option>species</option>
                  <option>starships</option>
                  <option>vehicles</option>
                </select>
                <input v-model="searchTerm" placeholder="what's the name of the thing you're looking for?">
				<button class="btn btn-outline-success" type="submit" @click="search">Search</button>
			</div>
		</div> <!-- end row -->
		
		<div class="row">
			<div class="col-md-12">
                <result-display v-bind:response="returnedInfo"></result-display>
			</div>
		</div> <!-- end row -->
		<div class="row">
			<div class="col-md-12">
                <result-video v-bind:url="vidSrc"></result-video>
			</div>
		</div> <!-- end row -->
	</div> <!-- end container -->	
    <joke-footer-2 v-bind:year="copyrightYear" v-bind:name="copyrightName"></joke-footer-2>
</div> <!-- end #app -->

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/@babel/polyfill@latest/dist/polyfill.min.js"></script>
<script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
<script src="src/config.js"></script>
<script src="src/components.js"></script>
<script src="src/main.js"></script>
</body>
</html>