
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Star Wars Searcher!</title>
        <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
        <link
          type="text/css"
          rel="stylesheet"
          href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"
        />
        <style>
/*
            @font-face {
              font-family: 'Starjedi';
              src: url('fonts/Starjedi.ttf')  format('truetype');
            }
            h1{
                font-family: 'Starjedi';
                color: yellow;
            }
*/
            ul{
                list-style: none;
            }
            footer{
                margin: auto;
            }
            .row{
                margin: 1em;
            }
        </style>
    </head>
    <body class="bg-dark text-white">
        <div id="app" class="container-fluid"><!-- Vue container -->
            <div class="row myheader">
                <h1 class="display-5">{{title}}</h1>
                <p class="lead text-muted">Set the category next to the text field, type the name of the character/creature/object you want to look up, and then hit search to get some information on that character! (Entering no text will return a random result from the specified category)</p>
            </div>			
            <div class="row search-row">
                <div class="col-sm-6">
                    <select v-model="resourceType">
                      <option disabled value="">Please select one</option>
                      <option>films</option>
                      <option>people</option>
                      <option>planets</option>
                      <option>species</option>
                      <option>starships</option>
                      <option>vehicles</option>
                    </select>
                    <input v-model="searchTerm" placeholder="Search Term">
                    <p><input v-model="vidBool" type="checkbox" name="Video Search Checkbox" checked> Search YouTube for a video about your term?</p>
                    <button class="btn btn-outline-success" type="submit" @click="search">Search</button>
                    <p>Results:</p>
                    <result-display v-bind:response="returnedInfo"></result-display>
                </div>
                <div class="col-sm-6">
                    <p>Video Result (defaults to Episode IX teaser!): </p>
                    <result-video v-bind:url="vidSrc"></result-video>
                </div>
            </div> <!-- end row -->
            <div class="row">
                <joke-footer-2 v-bind:year="copyrightYear" v-bind:name="copyrightName"></joke-footer-2>
            </div>
        </div> <!-- end #app -->
        
        <script src="src/config.js"></script>
        <script src="https://www.gstatic.com/firebasejs/5.10.0/firebase.js"></script>
        <script>
          // Initialize Firebase
          let config = {
            apiKey: firebaseKey,
            authDomain: "starwarssearcherrecords.firebaseapp.com",
            databaseURL: "https://starwarssearcherrecords.firebaseio.com",
            projectId: "starwarssearcherrecords",
            storageBucket: "starwarssearcherrecords.appspot.com",
            messagingSenderId: firebaseMsgSenderID
          };
          firebase.initializeApp(config);
        </script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/@babel/polyfill@latest/dist/polyfill.min.js"></script>
        <script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
        <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
        <script src="src/components.js"></script>
        <script src="src/main.js"></script>
    </body>
</html>